.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover);
  color: var(--accent);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border);
}

.tag-text {
  font: var(--micro);
  letter-spacing: var(--micro-tracking);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent);
}
